body{
    background: url(photo-1535868463750-c78d9543614f.jpg);
    color: sandybrown;
    font-family: cursive;
}
h1{
    font-size: 7em;
    color: cadetblue;
}
h2{
    font-size: 5em;

}

#nombre {
    font-size: 4em;
    width: 10em;
    text-align: center;
}
#Edad {
    font-size: 4em;
    width:4em;
    text-align: center;
}
#boton{
    font-size: 4em;
}

#mostrar {
    font-size: 6em
}
